body[b-xw0bmciqhl] {
}

.card-style1[b-xw0bmciqhl] {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}

.border-0[b-xw0bmciqhl] {
    border: 0 !important;
}

.card[b-xw0bmciqhl] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

section[b-xw0bmciqhl] {
    padding: 120px 0;
    overflow: hidden;
}

.mb-2-3[b-xw0bmciqhl], .my-2-3[b-xw0bmciqhl] {
    margin-bottom: 2.3rem;
}

.section-title[b-xw0bmciqhl] {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.text-primary[b-xw0bmciqhl] {
    color: #ceaa4d !important;
}

.text-secondary[b-xw0bmciqhl] {
    color: #15395A !important;
}

.font-weight-600[b-xw0bmciqhl] {
    font-weight: 600;
}

.display-26[b-xw0bmciqhl] {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
    .p-lg-7[b-xw0bmciqhl] {
        padding: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .p-md-6[b-xw0bmciqhl] {
        padding: 3.5rem;
    }
}

@media screen and (min-width: 576px) {
    .p-sm-2-3[b-xw0bmciqhl] {
        padding: 2.3rem;
    }
}

.p-1-9[b-xw0bmciqhl] {
    padding: 1.9rem;
}

.bg-secondary[b-xw0bmciqhl] {
    background: #15395A !important;
}

@media screen and (min-width: 576px) {
    .pe-sm-6[b-xw0bmciqhl], .px-sm-6[b-xw0bmciqhl] {
        padding-right: 3.5rem;
    }
}

@media screen and (min-width: 576px) {
    .ps-sm-6[b-xw0bmciqhl], .px-sm-6[b-xw0bmciqhl] {
        padding-left: 3.5rem;
    }
}

.pe-1-9[b-xw0bmciqhl], .px-1-9[b-xw0bmciqhl] {
    padding-right: 1.9rem;
}

.ps-1-9[b-xw0bmciqhl], .px-1-9[b-xw0bmciqhl] {
    padding-left: 1.9rem;
}

.pb-1-9[b-xw0bmciqhl], .py-1-9[b-xw0bmciqhl] {
    padding-bottom: 1.9rem;
}

.pt-1-9[b-xw0bmciqhl], .py-1-9[b-xw0bmciqhl] {
    padding-top: 1.9rem;
}

.mb-1-9[b-xw0bmciqhl], .my-1-9[b-xw0bmciqhl] {
    margin-bottom: 1.9rem;
}

@media (min-width: 992px) {
    .d-lg-inline-block[b-xw0bmciqhl] {
        display: inline-block !important;
    }
}

.rounded[b-xw0bmciqhl] {
    border-radius: 0.25rem !important;
}
